<!DOCTYPE html>
<head title="counter">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css"/>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/counter.js"></script>
</head>
<body>
  <div class="input-box">
    <div id="message">{{ message }}</div>
    <form method="post">
      {% csrf_token %}
      <div id="input">
        Username: <input type="text" name="user"><br>
        Password: <input type="password" name="password"><br>
      </div>
      <input id="login" type="button" value="Login" onclick="User_Login(this.form, '{{csrf_token}}');"> 
      <input id="logout" type="button" value="Logout" class="hidden" onclick="User_Logout(this.form);"> 
      <input id="add" type="button" value="Add User" onclick="User_Add(this.form, '{{csrf_token}}');">
    </form>
  </div>
</body>
