html {
  background-image:url('/static/images/background.png');
  background-position:center top;
}

.hidden {
  display:none;
}

.input-box {
  background-color: gray;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: auto; 
  margin-right: auto; 
  text-align:center; 
  font-family: Monaco;
  border:1px solid; 
  width:400px;
}
